
a {
  color: #1976D2;
  text-decoration: none;
}

.home-container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  color: #333;
}

.background-container {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
