<!--<div class="background-container">-->
  <mat-card-content class="about-container">
    <h2>About HCvision</h2>
    <mat-card class="algorithm-info">
      <mat-card-content>
        <p>This application was developed as a thesis project at International Hellenic University.</p>
        <p>GitHub Repository: <a href="https://github.com/Gemois/HCvision">AutoML App Repo</a></p>
        <p>The purpose of this AutoML app is to facilitate the execution of hierarchical clustering and
          visualization of the
          results.</p>
        <p>Key Features:</p>
        <ul>
          <li>Run hierarchical clustering</li>
          <li>Visualize dendrogram</li>
          <li>Analyze linkages</li>
          <li>Calculate silhouette score</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
<!--</div>-->
