a {
  color: #1976D2;
  text-decoration: none;
}

.about-container {
  flex-direction: column;
  flex: 1;
  padding: 20px;
  color: #333;
  min-height: 100vh;
  max-width: 50%;
  margin: 0 auto;
}

.mat-card {
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
}

.thesis-info, .algorithm-info, .github-link, .programmer-info {
  margin-bottom: 30px;
}

.algorithm-info {
  background-color: transparent;
  border-radius: 0;
}

.mat-card-content a {
  color: #1976D2;
  text-decoration: none;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
