<mat-card-content class="about-container">
  <h2>About HCvision</h2>

  <mat-card class="thesis-info">
    <mat-card-content>
      <p>This application was developed as part of my thesis project to earn a bachelor's degree from the <a
        href="https://www.ihu.gr/" target="_blank">International Hellenic University</a>, <a
        href="https://www.iee.ihu.gr/" target="_blank">Department of Information Technology</a>.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="algorithm-info">
    <mat-card-content>
      <p>GitHub Repository: <a href="https://github.com/Gemois/HCvision">AutoML App Repo</a></p>
      <p>The AutoML app aims to simplify the execution of hierarchical clustering and visualization of the results.</p>
      <div class="technologies-section">
        <p class="section-heading">Technologies Used:</p>
        <ul>
          <li>Java Spring Boot</li>
          <li>MySQL database</li>
          <li>Angular</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="programmer-info">
    <mat-card-content>
      <p>Developed by George Moisidis</p>
      <p>
        <a href="https://www.linkedin.com/in/georgiosmoisidis/" target="_blank">LinkedIn</a>
      </p>
      <p>
        <a href="https://gmoisidis.gr/" target="_blank">GitHub</a>
      </p>
      <p>
        <a href="https://github.com/Gemois" target="_blank">Personal Website</a>
      </p>
    </mat-card-content>
  </mat-card>
</mat-card-content>
<app-footer></app-footer>
