.form-container {
  max-width: 800px;
  margin: auto;
}

.horizontal-form {
  display: flex;
  flex-direction: column;

}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.form-field {
  flex: 0 0 calc(30% - 10px);
  margin-bottom: 10px;

}

.checkbox-options {
  flex: 0 0 100%;
}

.checkbox-option {
  margin-right: 10px;
}

.run-button {
  flex: 0 0 calc(30% - 10px);
  margin-left: auto;
}

.results-card {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

.recommended-params-card {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}


.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.horizontal-checkbox-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line if the container is not wide enough */
  margin-bottom: 16px; /* Add some space between rows, adjust as needed */
}
