<div class="background-container">
  <mat-card-content class="home-container">
    <mat-card-title class="title">Welcome to HCvision - autoML Hierarchical Clustering Visualizer</mat-card-title>

    <h2>Utilize the application by</h2>
    <mat-card class="algorithm-info">
      <mat-card-content>
        <h2>Managing your Datasets</h2>
        <p>
          Manage your datasets by uploading, downloading, and deleting CSV or XLSX files. You can also preview the data.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="algorithm-info">
      <mat-card-content>
        <h2>Determining the Best Linkage and Number of Clusters for Hierarchical Clustering</h2>
        <p>
          Determine the optimal linkage and number of clusters for Hierarchical Clustering using the Silhouette Score.
          The Silhouette Score measures how well-defined the clusters are, helping you choose the best configuration for
          your data.
        </p>
        <img src="assets/home_silhouette.png" alt="Algorithm 1 Result Diagram">
        <p>Diagram illustrating the silhouette score results per linkage method and number of clusters.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="algorithm-info">
      <mat-card-content>
        <h2>Running Hierarchical Clustering</h2>
        <p>
          Utilize the power of Hierarchical Clustering to discover patterns in your data.-->
          Explore the results through informative visualizations like dendrograms and parallel coordinates plots. </p>
        <img src="assets/home_dendrogram.png" alt="Algorithm 2 Dendrogram">
        <img src="assets/home_parallel_coordinates.png" alt="Algorithm 2 Parallel Coordinates">
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</div>

