.background-container {
  background-color: #f0f0f0;
}

.home-container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  color: #333;
}

.title {
  margin-bottom: 20px;
  font-size: 28px;
}

.app-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.algorithm-info {
  margin-bottom: 20px;
  text-align: center;
}

.result-diagram {
  text-align: center;
}

.results-section {
  display: flex;
  justify-content: space-between;
}

.result-image {
  width: 48%;
  margin-bottom: 20px;
}

html {
  background-color: rgb(245, 245, 245);
}

img {
  max-width: 50%;
  height: 100%;
}

