.home-container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  color: #333;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.algorithm-info {
  margin-bottom: 20px;
}

.results-section {
  display: flex;
  justify-content: space-between;
}

.result-image {
  width: 48%;
  margin-bottom: 20px;
}

img {
  max-width: 50%;
  height: 100%;
}
.background-container {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
