<!--<div class="center-container">-->
<!--  <div class="history-card">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title class="custom-title">History</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <div *ngFor="let item of historyList">-->
<!--        <mat-card class="panel-card">-->
<!--          <mat-expansion-panel (opened)="panelOpened(item)">-->
<!--            <mat-expansion-panel-header>-->
<!--              {{ item.script}} - {{item.started_at | date: 'medium'}}-->
<!--            </mat-expansion-panel-header>-->
<!--            <app-history-preview-->
<!--              *ngIf="expandedItemId === item.id"-->
<!--              [id]="item.id"-->
<!--              [script]="item.script"-->
<!--              (deleteHistoryEvent)="deleteHistory($event)"-->
<!--            ></app-history-preview>-->
<!--          </mat-expansion-panel>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--  </div>-->
<!--</div>-->
<div class="center-container">
  <div class="history-card">
    <mat-card-header>
      <mat-card-title class="custom-title">History</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="history-description">
        Welcome to the History page! Here, you can view and analyze the results of your clustering sessions. Explore the details of your past sessions, including the parameters you selected and the outcomes achieved.
      </p>
      <div *ngFor="let item of historyList">
        <mat-card class="panel-card">
          <mat-expansion-panel (opened)="panelOpened(item)">
            <mat-expansion-panel-header>
              {{ item.script}} - {{item.started_at | date: 'medium'}}
            </mat-expansion-panel-header>
            <app-history-preview
              *ngIf="expandedItemId === item.id"
              [id]="item.id"
              [script]="item.script"
              (deleteHistoryEvent)="deleteHistory($event)"
            ></app-history-preview>
          </mat-expansion-panel>
        </mat-card>
      </div>
    </mat-card-content>
  </div>
</div>

<app-footer></app-footer>
