<!-- dialog.component.html -->

<div class="dialog-container">
  <h2>Instructions</h2>
  <p>Follow these steps to utilize the page effectively:</p>

  <div class="step">
    <div class="step-number">1</div>
    <div class="step-content">
      <p><strong>Select your Dataset:</strong></p>
      <p>Use the dropdown menu to choose the dataset you want to work with.</p>
    </div>
  </div>

  <div class="step">
    <div class="step-number">2</div>
    <div class="step-content">
      <p><strong>Choose Processing Option:</strong></p>
      <p>Decide whether you want to process the entire dataset or just a sample to find the Hierarchical optimal parameters.</p>
    </div>
  </div>

  <div class="step">
    <div class="step-number">3</div>
    <div class="step-content">
      <p><strong>Select Attributes:</strong></p>
      <p>Indicate which attributes from the dataset you want the algorithm to consider. Use the provided options.</p>
    </div>
  </div>

  <div class="step">
    <div class="step-number">4</div>
    <div class="step-content">
      <p><strong>Click Run:</strong></p>
      <p>Once you've configured your preferences, click the "Run" button to initiate the process of finding the optimal parameters.</p>
    </div>
  </div>


</div>
