

:host {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Align items at the start and end of the container */
  min-height: 100vh; /* Ensure at least the viewport height */
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.user-card {
  width: 450px;
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.user-card .user-avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 16px;
}

.user-card .user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-card .mat-card-content {
  padding: 20px;
}

.user-card .mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.user-card .label-value {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-card .label-value label {
  font-weight: bold;
}

.user-card .label-value p {
  font-size: 16px; /* Adjust the font size for paragraph text */
}

.editing-mode .mat-card-content {
  padding: 15px;
}

.editing-mode .mat-form-field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.editing-mode .mat-form-field label {
  font-size: 16px; /* Adjust the font size for form field labels */
}

.editing-mode .mat-form-field input {
  font-size: 14px; /* Adjust the font size for form field inputs */
}

.card-button {
  flex-grow: 1;
  margin: 8px;
  font-size: 14px; /* Adjust the font size for buttons */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
