<!--<div mat-dialog-content>-->

<!--  <p>Password successfully reset!</p>-->
<!--</div>-->
<!--<div mat-dialog-actions class="button-container">-->
<!--  <button mat-raised-button color="primary" (click)="login()">Login</button>-->
<!--</div>-->
<!-- reset-success-dialog.component.html -->
<div mat-dialog-content>
  <img src="/assets/reset.png" alt="Success Image" class="success-image">
  <p>Password successfully reset!</p>
</div>
<div mat-dialog-actions class="button-container">
  <button mat-raised-button color="primary" (click)="login()">Login</button>
</div>
