/* reset-success-dialog.component.css */

/* reset-success-dialog.component.css */

/* reset-success-dialog.component.css */

/* reset-success-dialog.component.css */

/* reset-success-dialog.component.css */

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.success-image {
  width: 50%; /* Set to half the size */
  max-width: 100%; /* Adjust to control the maximum width of the image */
  height: auto; /* Maintain the aspect ratio */
  margin-bottom: 16px; /* Adjust for spacing */
}

.reset-success-content {
  padding: 24px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.login-button {
  font-size: 18px;
  padding: 12px 24px;
}
