<!--&lt;!&ndash; reset-password.component.html &ndash;&gt;-->

<!--<div class="card-container">-->
<!--  <mat-card>-->
<!--    <mat-card-content class="card-content">-->
<!--      <form>-->
<!--        <div class="title">-->
<!--          <mat-card-title>Reset Password</mat-card-title>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-form-field>-->
<!--            <mat-icon matPrefix>lock</mat-icon>-->
<!--            <mat-label>New Password:</mat-label>-->
<!--            <input matInput placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" type="password" required>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-form-field>-->
<!--            <mat-icon matPrefix>lock</mat-icon>-->
<!--            <mat-label>Confirm Password:</mat-label>-->
<!--            <input matInput placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-form-field>-->
<!--            <mat-icon matPrefix>vpn_key</mat-icon>-->
<!--            <mat-label>OTP Code:</mat-label>-->
<!--            <input matInput placeholder="OTP Code" [(ngModel)]="otpCode" name="otpCode" type="text" required>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="button-container">-->
<!--          <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
<!-- reset-password.component.html -->

<div class="card-container">
  <mat-card>
    <mat-card-content class="card-content">
      <form *ngIf="showResetForm">
        <div class="title">
          <mat-card-title>Reset Password</mat-card-title>
        </div>
        <div>
          <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label>New Password:</mat-label>
            <input matInput placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" type="password" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label>Confirm Password:</mat-label>
            <input matInput placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-icon matPrefix>vpn_key</mat-icon>
            <mat-label>OTP Code:</mat-label>
            <input matInput placeholder="OTP Code" [(ngModel)]="otpCode" name="otpCode" type="text" required>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
        </div>
      </form>

      <div *ngIf="!showResetForm">
        <div class="title">
          <mat-card-title>Request OTP</mat-card-title>
        </div>
        <div>
          <mat-form-field>
            <mat-icon matPrefix>email</mat-icon>
            <mat-label>Email:</mat-label>
            <input matInput placeholder="Email" [(ngModel)]="emailForOTP" name="emailForOTP" type="email" required>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="sendOTP()">Send OTP Code</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
