.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.confirmed-card {
  max-width: 600px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: auto;
}

.top-icon {
  max-width: 200px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.message {
  margin-top: 10px;
  font-size: 18px;
}

.login-button {
  margin-top: 20px;
}
