<div class="center-container">
  <mat-card class="confirm-card">
    <img src="assets/5387117.png" class="top-icon" alt="Confirmation Icon">
    <h2>Please verify your email</h2>
    <mat-card-content>
      <p>A verification email has been sent to your email.</p>
      <p>Click on the link in that email to complete your sign up and unlock our advanced features. If you don't see it,
        please check your spam folder.</p>
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>
