body {
  font-family: 'Arial', sans-serif;
}

.form-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.horizontal-form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.form-field {
  flex: 0 0 calc(30% - 10px);
  margin-bottom: 10px;
  font-size: 14px;
}

.checkbox-options {
  flex: 0 0 100%;
}

.horizontal-checkbox-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.checkbox-option {
  margin-right: 10px;
}

.run-button {
  flex: 0 0 calc(30% - 10px);
  margin-left: auto;
  font-size: 16px;
}


.results-card {
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.download-button {
  margin-bottom: 20px;
}


.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


mat-card {
  background-color: #fff;
  border-radius: 8px;
}

mat-card-title {
  font-size: 20px;
}

mat-error {
  color: #d9534f;
}

mat-paginator {
  margin-top: 20px;
}

mat-table {
  width: 100%;
  overflow: auto;
}


img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  cursor: pointer;
}
